{
  "endOfLine": "auto",
  "importOrder": [
    "^react(.*)$",
    "^@mui(.*)$",
    "^@emotion(.*)$",
    "^@rounik(.*)$",
    "^@components(.*)|@components/(.*)|^@constants(.*)|@constants/(.*)|^@dummy(.*)|@dummy/(.*)|@managers(.*)|@managers/(.*)|@pages(.*)|@pages/(.*)|@providers(.*)|@providers/(.*)|@root(.*)|^@root/(.*)|@services(.*)|@services/(.*)|@styles(.*)|@styles/(.*)|@ui(.*)|@ui/(.*)$",
    "^[./].*(?<!\\.scss)$",
    "\\.scss$"
  ],
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 100,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "trailingComma": "none"
}
